<div class="container text-center">
  <h1>Registro de Colaboradores</h1>
  <hr>
  <div class="row text-left ">
    <div class="col-xs-12 offset-md-3 col-md-6 breadcrumb">
      <label for="">Número de empleado</label>
      <input type="text" class="form-control">
      <br>
      <label for="">Nombre</label>
      <input type="text" class="form-control">
      <br>
      <label for="">Apellido</label>
      <input type="text" class="form-control">
      <br>
      <label for="">Email</label>
      <input type="email" class="form-control">
      <br>
      <label for="">Teléfono</label>
      <input type="number" class="form-control">
      <br>
      <label for="">Password</label>
      <input type="password" class="form-control margin">
      <a class="btn btn-primary" (click)="saveMember()">Enviar</a>
      <a class="btn btn-default">Cancelar</a>
    </div>
  </div>
</div>