<div class="container text-center">
  <h1>Proyecto {{project.cliente}}</h1>
  <h5>{{project.nombre}}</h5>
  <hr>
  <div class="row">
    <div class="col text-left">
      <h5>Código:
        <input type="text" class="form-control" placeholder="{{project.codigo}}" disabled>
      </h5>
      <br>
      <h5> Objetivo:
        <input type="text" class="form-control" placeholder="{{project.objetivo}}" disabled>
      </h5>
      <br>
      <h5>Unidad :
        <input type="text" class="form-control" placeholder="{{project.unidad}}" disabled>
      </h5>
    </div>
    <div class="col text-left">
      <h5>Fecha de Inicio:
        <input type="text" class="form-control" placeholder="{{project.inicio}}" disabled>
      </h5>
      <br>
      <h5> Fecha de fin:
        <input type="text" class="form-control" placeholder="{{project.fin}}" disabled>
      </h5>
      <br>
      <h5>Ubicación:
        <input type="text" class="form-control" placeholder="{{project.ubicacion}}" disabled>
      </h5>
    </div>
    <div class="col text-left">
      <h5>Linea de servicio:
        <input type="text" class="form-control" placeholder="{{project.servicio}}" disabled>
      </h5>
      <br>
      <h5> Documentos:
        <input type="text" class="form-control" placeholder="AAA000" disabled>
      </h5>
      <br>
      <h5>
        <br>
        <a class="btn btn-secondary" routerLink="/projectRegister/{{project.id}}">Editar</a>
      </h5>
    </div>
  </div>
  <hr>
  <h2>Organigrama</h2>
  <label for="">Selecionar miembros del proyecto</label>
  <div class="input-group margin">
    <select class="custom-select" [(ngModel)]="optionSelection" id="inputGroupSelect04">
      <option value="0" selected>Miembros</option>
      <ng-container *ngFor="let member of members">
        <option value="{{member.nombre}} {{member.apellido}}">{{member.email}}</option>
      </ng-container>
    </select>
    <button class="btn btn-outline-secondary" (click)="addMemberProject()" type="button">Agregar</button>
  </div>
  <div class="row">
    <div class="offset-md-5 col-md-2">
      <h5>{{project.lider}}</h5>
      <span>Lider</span>
    </div>
  </div>
  <div class="row ">
    <div *ngFor="let memberIn of membersProject" class="col-md-2">
      <span >{{memberIn}}  </span>
      <br>
      <span>Miembro</span>
    </div>
  </div>
</div>