<div class="container text-center">
  <h1>Proyecto {{project.cliente}}</h1>
  <h5>{{project.nombre}}</h5>
  <hr>
  <div class="row">
    <div class="col text-left">
      <h5>Código:
        <input type="text" class="form-control" placeholder="{{project.codigo}}" disabled>
      </h5>
      <br>
      <h5> Objetivo:
        <input type="text" class="form-control" placeholder="{{project.objetivo}}" disabled>
      </h5>
      <br>
      <h5>Unidad :
        <input type="text" class="form-control" placeholder="{{project.unidad}}" disabled>
      </h5>
    </div>
    <div class="col text-left">
      <h5>Fecha de Inicio:
        <input type="text" class="form-control" placeholder="{{project.inicio}}" disabled>
      </h5>
      <br>
      <h5> Fecha de fin:
        <input type="text" class="form-control" placeholder="{{project.fin}}" disabled>
      </h5>
      <br>
      <h5>Ubicación:
        <input type="text" class="form-control" placeholder="{{project.ubicacion}}" disabled>
      </h5>
    </div>
    <div class="col text-left">
      <h5>Linea de servicio:
        <input type="text" class="form-control" placeholder="{{project.servicio}}" disabled>
      </h5>
      <br>
      <h5> Documentos:
        <input type="text" class="form-control" placeholder="AAA000" disabled>
      </h5>
      <br>
      <h5>
        <br>
        <a class="btn btn-secondary" routerLink="">Editar</a>
      </h5>
    </div>
  </div>
  <hr>
  <h2>Organigrama</h2>
  <div class="row">
    <div class="offset-md-5 col-md-2">
      <span>Maria Rojas</span>
      <br>
      <span>Lider</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <span>Maria Rojas</span>
      <br>
      <span>Miembro-1</span>
    </div>
    <div class="col-md-2">
      <span>Maria Rojas</span>
      <br>
      <span>Miembro-2</span>
    </div>
    <div class="col-md-2">
      <span>Maria Rojas</span>
      <br>
      <span>Miembro-3</span>
    </div>
    <div class="col-md-2">
      <span>Maria Rojas</span>
      <br>
      <span>Miembro-4</span>
    </div>
    <div class="col-md-2">
      <span>Maria Rojas</span>
      <br>
      <span>Miembro-5</span>
    </div>
    <div class="col-md-2">
      <span>Maria Rojas</span>
      <br>
      <span>Miembro-6</span>
    </div>
  </div>
</div>