<div class="container text-center">
  <h1>Mis Proyectos</h1>
  <div class="row d-flex justify-content-between">
    <ng-container *ngFor="let project of projects">
      <div class="card" style="width: 18rem; margin: 15px">
        <img class="card-img-top" src="../assets/images/gloria.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Gloria</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cras justo odio</li>
        </ul>
        <div class="card-body">
          <a routerLink="/projects">Ver más</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<!--<ng-container *ngFor="let project of projects">
       
         </ng-container>
  
      <div class="card" style="width: 18rem; margin: 15px">
      <img class="card-img-top" src="../assets/images/gloria.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gloria</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
      </ul>
      <div class="card-body">
        <a  routerLink="/projects">Ver más</a>
      </div>
    </div>
    <div class="card" style="width: 18rem; margin: 15px">
      <img class="card-img-top" src="../assets/images/gloria.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gloria</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
      </ul>
      <div class="card-body">
        <a  routerLink="/projects">Ver más</a>
      </div>
    </div>
    <div class="card" style="width: 18rem; margin: 15px">
      <img class="card-img-top" src="../assets/images/gloria.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Gloria</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
      </ul>
      <div class="card-body">
        <a routerLink="/projects">Ver más</a>
      </div>
    </div>
  </div>
</div-->